@model comara.Models.Articulo

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Artículo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca.marNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca.marNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proveedor.proNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proveedor.proNombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ArtCod">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
