@model comara.Models.Cotizacion

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Cotización</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cotFech)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cotFech)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.cliNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.cliNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cotTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cotTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cotEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cotEstado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.cotCod">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
