@model IEnumerable<comara.Models.Cotizacion>

@{
    ViewData["Title"] = "Cotizaciones";
}

<h1>Cotizaciones</h1>

<p>
    <a asp-action="Create">Crear Nueva</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CotCod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CotFech)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.CliNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CotTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CotEstado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CotCod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CotFech)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.CliNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CotTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CotEstado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CotCod">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CotCod">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.CotCod">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
