@model comara.Models.Venta

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Está seguro de que desea eliminar esta venta?</h3>
<div>
    <h4>Venta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VenFech)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VenFech)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Cliente!.CliNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente!.CliNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VenTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VenTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VenEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VenEstado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VenCod" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
