@model comara.Models.Venta

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Está seguro de que desea eliminar esta venta?</h3>
<div>
    <h4>Venta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Fecha
        </dt>
        <dd class="col-sm-9">
            @Model.VenFech.ToString("dd/MM/yyyy")
        </dd>
        <dt class="col-sm-3">
            Cliente
        </dt>
        <dd class="col-sm-9">
            @(Model.Cliente?.CliNombre ?? "No especificado")
        </dd>
        <dt class="col-sm-3">
            Total
        </dt>
        <dd class="col-sm-9">
            @string.Format("${0:N2}", Model.VenTotal)
        </dd>
        <dt class="col-sm-3">
            Estado
        </dt>
        <dd class="col-sm-9">
            @(Model.TipoEstado?.Descripcion ?? "No especificado")
        </dd>
        <dt class="col-sm-3">
            Método de Pago
        </dt>
        <dd class="col-sm-9">
            @(Model.TipoMetodoPago?.Descripcion ?? "No especificado")
        </dd>
        <dt class="col-sm-3">
            Lista de Precio
        </dt>
        <dd class="col-sm-9">
            @(Model.Lista?.ListDesc ?? "No especificado")
        </dd>
        <dt class="col-sm-3">
            Tipo Comprobante
        </dt>
        <dd class="col-sm-9">
            @(Model.TipoComprobante?.Descripcion ?? "No especificado")
        </dd>
    </dl>
    <hr />

    <form asp-action="Delete">
        <input type="hidden" asp-for="VenCod" />
        <input type="submit" value="Eliminar" class="btn btn-sm btn-danger" /> |
        <a asp-action="Index" class="btn btn-sm btn-secondary">Volver a la lista</a>
    </form>
</div>
