@model comara.Models.Cobro

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Cobranza</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cobFech)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cobFech)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.cliNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.cliNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cobMonto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cobMonto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cobMetodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cobMetodo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.cobCod">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
