@model IEnumerable<comara.Models.Cobro>

@{
    ViewData["Title"] = "Cobranzas";
}

<h1>Cobranzas</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-primary">Crear Nueva</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                Fecha
            </th>
            <th>
                Cliente
            </th>
            <th>
                Monto
            </th>
            <th>
                Método
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CobCod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CobFech)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.CliNombre)
            </td>
            <td>
                <a>$</a>
                @Html.DisplayFor(modelItem => item.CobMonto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CobMetodo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CobCod" class="btn btn-sm btn-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CobCod" class="btn btn-sm btn-info">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.CobCod" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
